*{
  font-family: 'Open Sans', Helvetica;
}

body{
  overflow-x: hidden;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: none;
  box-shadow: none;
  outline: 0 none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cfn-logo{
  height: 3.5em;
}

.calculator-container{
  min-height: auto;
  margin-bottom: 70px;
}

.lineHeight{
  line-height: 170%;
  text-align: justify;

}
.marg{
  margin-top:120px;
  color:black;
}
.textColor{
  color:black;
}
.price-form{
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.full{
  width:100%;
}
.price-form-container .medprices-heading{
  font-size: 45px;
  margin-top: 10px;
}
.cover{
  margin-top: 50px;
  margin-bottom: 50px;
}
.price-form-container .sub{
  margin-bottom: 15px;
}

.navbar{
  height: 7em;
  background: white;
}

.navbar-right{
  padding-top: 25px;
  text-transform: uppercase;
  font-size: 13px;
}
.navbar-right .fa-twitter:hover{
  color: skyblue;
}
.navbar-right .fa-facebook:hover{
  color: #3b5998;
}

.embed-nav-button{
  font-size: 10px;
}

.navitem-divider{
  border-left: 1px solid #f5f5f5;
  padding: 15px 0px 0px 0px;
  width: 0px;
}

.sub {
  color: #999;
  font-size: 16px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.post-form-paragraph{
  margin-top: 10px;
  margin-bottom: 10px;
}

.medprices-heading{
  font-size: 2.343em;
  font-weight: 900;
  color: #0B5D97;
  margin-bottom: 20px;
  font-family: 'Patua One', cursive;
}
.logoFont{
  font-size: 30px;
}
.medprices-paragraph {
  font-size: 20px;
}
.stories{
  max-width: 800px;
  margin: 0 auto 10px;
  padding: 15px;
}
.rightMargin{
  margin-right: 40px;
}
.price-form input{
  border: 0px;
  border-bottom: 1px solid #b1bfd4;
  box-shadow: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
  color: #0B5D97;
}

.embed-code-input{
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #ccc;
  border-right: 0px;
}
.embed-code-input[readonly]{
  background-color: white;
}

.embed-copy-btn{
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid #d5d5d5;
}

.global-average{
  font-size: 20px;
  font-weight: 200;
  color: #999;
  margin-bottom: 50px;
}

.calculation-result .medprices-heading{
  margin-bottom: 40px;
}

.call-to-action{
  font-size: 40px;
  font-weight: 300;
}

.call-to-action:hover{
  color: black;
  text-decoration: none;
}

.assumption{
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #999;
}

.reset-calculator{
  cursor: pointer;
  font-size: 14px;
}

.reset-calculator span{
  color: black;
  font-size: 20px;
}
.top-margin{
  margin-top: 35px;
}
.align-text{
  text-align: justify;
}
.show-result-btn{
  padding: 11px 60px;
  background-color: #3cd682;
  border: none;
  color: white;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.show-result-btn[disabled],.show-result-btn:hover,
.show-result-btn[disabled]:hover, .show-result-btn:active, .show-result-btn:focus
{
  background-color: #5cb85c;
  color: white;
}

footer{
  background: #000;
  color:white;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 40px;
}

footer h3{
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 25px;
}

footer h3 span{
  font-size: 46px;
  text-transform: capitalize;
}

footer .credits{
  margin-bottom: 37px;
}

footer .credits p{
  font-size: 16px;
  margin: 16px 0px;
  font-weight: 200;
}

footer a{
  color: #339966;
}

footer a:hover{
  color: #339966;
}

footer .credits p a{
  margin-left: 7px
}

footer .post-credits{
  float: none;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 16px;
}

footer .sponsors{
  height: 50px;
  padding-bottom: 5px
}

footer .ancir-logo{
  height: 70px;
}
.med {
  height: 40px;
}
footer .cfn-logo{
  height: 60px;
}

footer .sponsors-link{
  display: inline-block;
  margin: 30px;
  padding-bottom: 10px
}
pre{
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
}
footer .sponsors-link:hover{
  border-bottom: 1px solid #339966;
}

footer .fa-twitter-square {
  color: skyblue;
  margin-right: 10px;
}

footer .fa-github {
  color: white;
  margin-right: 10px;
}

footer .fa-facebook-square {
  color: #3B5998;
  margin-right: 10px;
}

.punch-ng-header{
  font-family: 'Frank Ruhl Libre', serif;
}

.punch-ng-body{
  font-family: 'Playfair Display', serif;
}

.share-results-links a{
  margin: 15px;
}

.share-results-links .share-header{
  font-size: 30px;
  font-weight: 300;
  color: #CE4415;
}

.sachet{
  font-size: 13px;
  float: none;
}

#brand-name-tooltip .tooltip-inner{
  max-width: none;
}

.dropdown-menu li a{
  padding: 0px;
}

.dropdown-drug{
  padding: 3px 20px;
  padding-bottom: 20px;
}

.share-context{
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 20px
}

.about{
  float: none;
}

.suggest-med{
  float: right;
  font-size: 16px;
  margin: 5px;
  color: #0B5D97;
}
@media screen and (min-width:730px) {
  .marginTop{
    margin-top: -60px;
  }
}
@media (max-width:767px) and (min-width:500px) {
  .show-result-btn{
    margin-left: 33%;
  }
}
.suggest-med:hover, .suggest-med:focus{
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .price-form-container .medprices-heading {
    font-size: 32px;
  }
  .price-form{
  width: 73%;
  margin: 0 auto;
  margin-top: 25px;
 }
.medprices-paragraph {
  font-size: 16px;
 }
.punch-ng-body{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}
.price-form-container .sub{
  margin-bottom: 15px;
  font-size: 13px;
}
}

@media screen and (min-width: 768px) {
  .price-form-container .medprices-heading {
    font-size: 32px;
  }
}

@media screen and (min-width: 992px) {
  .price-form-container .medprices-heading{
    font-size: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .price-form-container .medprices-heading {
    font-size: 55px;
  }
}
